<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.RcpMapper">
	<select id="insert_max" resultType="int">
		select nvl(max(rcpNum)+1,1)
		from Rcp
	</select>
	
	<insert id="insert1" parameterType="Rcp">
		insert into Rcp 
		values(#{rcpNum},#{title},#{foodName},#{subtitle},#{ingredient},#{quantity},#{cookingTime},#{memNum},sysdate,#{thumbNail},#{hashTag})
	</insert>
	
</mapper>